@import url('../../styles/css/colors/variables.css');

.kasaHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  width: 100%;
}

.kasaHead_img {
  width: 210px;
  height: 68px;
}
.kasaHead-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  height: 68px;
  width: 350px;
}

.kasaHead_style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 24px;
  font-weight: 500;
  height: 68px;
  width: 136px;
}

.kasaHead_style:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Dimension pour ecran smartphone*/
@media screen and (max-width: 767px) {
  .kasaHead {
    height: 47px;
    width: 100%;
    min-width: 335px;
  }
  .kasaHead-nav {
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 47px;
    min-width: 150px;
  }
  .kasaHead_img {
    width: 145px;
    height: 47px;
  }

  .kasaHead_style {
    font-size: 12px;
    width: 71px;
    height: 12px;
    min-width: 71px;
  }
}
