@import url('../../styles/css/colors/variables.css');

.pageAccueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*Section 1: Image en background*/
.pageAccueil_imgBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  height: 223px;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 25px;
  margin-top: 50px;
  filter: var(--backgroundBrightness);
  position: relative;
}

.pageAccueil_txtBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 70%;
  font-size: 48px;
  font-weight: 500;
  border-radius: 25px;
  color: var(--primary-color);
  position: absolute;
  top: 170px;
  left: auto;
  margin: 0px;
  cursor: default;
}

/*Section 2 : les differentes Cards*/
.pageAccueil_gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 43px 0px;
  padding: 20px 0px;
  border-radius: 25px;
  background-color: var(--background-color);
}

.pageAccueil_cardData {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 340px;
  height: 340px;
  margin: 20px;
  border-radius: 10px;
  position: relative;
}

.pageAccueil_titleLocation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 340px;
  height: 340px;
  margin: 20px;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    var(--backgroundRgba-color) 50%,
    var(--secondary-color) 100%
  );
  position: absolute;
  z-index: 9;
}

.pageAccueil_titleLocation_h2 {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  padding: 0px 10px;
}

/* Dimension pour ecran smartphone*/
@media screen and (max-width: 767px) {
  /*Section 1: Image en background*/
  .pageAccueil_imgBackground {
    height: 150px;
    margin-top: 20px;
    min-width: 377px;
  }

  .pageAccueil_txtBackground {
    font-size: 24px;
    position: absolute;
    top: 65px;
    min-width: 350px;
  }

  /*Section 2 : les differentes Cards*/

  .pageAccueil_gallery {
    margin: 20px 0px;
    padding: 0px;
  }

  .pageAccueil_cardData {
    width: 335px;
    height: 255px;
    margin: 20px;
  }

  .pageAccueil_titleLocation {
    width: 335px;
    height: 255px;
  }
}
