@import url('../../styles/css/colors/variables.css');

.apropos_imgBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 223px;
  width: 100%;
  margin: 44px 0px;
  filter: var(--backgroundBrightness);
}

.apropos_notices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 80px;
}

/* Dimension pour ecran smartphone*/
@media screen and (max-width: 767px) {
  .apropos_notices {
    padding: 0px;
  }
}
