@import url('../../styles/css/colors/variables.css');

/* Format de toute la page de logement */
.loge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loge_image img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

/* format central de la page */
.loge_titleHost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  gap: 10px;
}

/* premiere partie */
.loge_titleHost_sectionOne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: auto;
}

.loge_titleHost_sectionOne_title {
  font-size: 36px;
  font-weight: 500;
  color: var(--tertiary-color);
  margin: 0;
}

.loge_titleHost_sectionOne_location {
  font-size: 18px;
  font-weight: 500;
  color: var(--tertiary-color);
  margin: 10px 0px;
}

/* second partie */
.loge_titleHost_sectionTwo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  width: 30%;
  height: 100%;
}

.loge_titleHost_sectionTwo_profileName {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.loge_titleHost_sectionTwo_title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  color: var(--tertiary-color);
}

.loge_titleHost_sectionTwo_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 70px;
  background-color: var(--backgroundProfile-color);
}

/* Ici loge description et equipement  */
.loge_details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  margin: 20px 0px;
  width: 100%;
}

/* Dimension pour ecran smartphone*/
@media screen and (max-width: 767px) {
  .loge_image {
    max-width: 618px;
  }

  .loge_titleHost {
    flex-direction: column;
  }

  .loge_titleHost_sectionOne {
    width: 100%;
  }

  .loge_titleHost_sectionOne_title {
    font-size: 18px;
  }

  .loge_titleHost_sectionOne_location {
    font-size: 14px;
  }

  .loge_titleHost_sectionTwo {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px;
  }

  .loge_titleHost_sectionTwo_title {
    font-size: 12px;
  }
  .loge_titleHost_sectionTwo_img {
    width: 32px;
    height: 32px;
  }

  .loge_details {
    flex-direction: column;
  }
}
