.kasaHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    width: 100%;
}

img{
    height: 58px;
    color: #FF6060;
}
.kasaHead-nav{
    align-content: center;
    justify-content: center;
    height: 34px;
    width: 309;
}


.kasaHead-menu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: right;
    height: 34px;
    width: 309;
    margin: 0px;
    
}

.kasaHead-liste{
    list-style-type: none;
}
