.pageStyle {
  display: flex;
  flex-direction: column;
  padding: 40px 100px;
  font-family: 'Montserrat', sans-serif;
}

/* Dimension pour ecran smartphone*/
@media screen and (max-width: 767px) {
  .pageStyle {
    padding: 20px 20px;
    min-width: 377px;
  }
}
